<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 해당조건을 처리하기위해 ? 구문대신 #{} 사용 
     #{} 구문은 get()/set()
  -->
  
  <mapper namespace="com.itwillbs.mapper.MemberMapper">
     
     <select id="getTime" resultType="string">
       select now()
     </select>
     
     <insert id="insertMember">
      insert into tbl_member(userid,userpw,username,useremail) 
      values (#{userid},#{userpw},#{username},#{useremail})
     </insert>
     
     <select id="readMember" 
             resultType="com.itwillbs.domain.MemberVO">
      select 
      *
      from
      tbl_member 
      where userid=#{userid}     
     </select>
     
     
     <select id="readWithIDPW"
             resultType="com.itwillbs.domain.MemberVO">
      select 
      * 
      from 
      tbl_member
      where 
       userid=#{userid} and userpw = #{userpw}
     </select>
     
     <update id="memberUpdate" >
      update tbl_member set 
      username=#{username}, useremail=#{useremail},updatedate=now()  
      where userid=#{userid} and userpw=#{userpw}     
     </update>
     
     <delete id="memberDelete">
      delete from tbl_member 
      where userid=#{userid} and userpw=#{userpw}     
     </delete>
     
     <select id="memberList" 
             resultType="com.itwillbs.domain.MemberVO">
       select * from tbl_member
     </select>
  
  
  
  </mapper>