<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Model2JSP7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- MyServelt 클래스를 서블릿으로 처리  -->
  <!-- /myServelt 호출시 MyServlet 클래스로 연결 -->
  
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.itwillbs.servlet.MyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Model2 구조 -->
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>com.itwillbs.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <!-- Model2 게시판  -->
   <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>com.itwillbs.board.action.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
  <!-- Model2 관리자 상품등록 -->
  
  <servlet>
    <servlet-name>AdminGoodsFrontController</servlet-name>
    <servlet-class>com.itwillbs.admin.goods.action.AdminGoodsFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminGoodsFrontController</servlet-name>
    <url-pattern>*.ag</url-pattern>
  </servlet-mapping>
  
  <!-- Model2 상품 목록 확인(일반사용자) -->
   
  <servlet>
    <servlet-name>GoodsFrontController</servlet-name>
    <servlet-class>com.itwillbs.goods.action.GoodsFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GoodsFrontController</servlet-name>
    <url-pattern>*.go</url-pattern>
  </servlet-mapping>
  
   <!-- Model2 장바구니(일반사용자) -->
  <servlet>
    <servlet-name>BasketFrontController</servlet-name>
    <servlet-class>com.itwillbs.basket.action.BasketFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketFrontController</servlet-name>
    <url-pattern>*.ba</url-pattern>
  </servlet-mapping>
  
  <!-- Model2 구매(일반사용자) -->
  <servlet>
    <servlet-name>OrderFrontController</servlet-name>
    <servlet-class>com.itwillbs.order.action.OrderFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFrontController</servlet-name>
    <url-pattern>*.or</url-pattern>
  </servlet-mapping>
  
  <!-- Model2 구매 리스트(관리자가 주문목록) -->
  <servlet>
    <servlet-name>AdminOrderFrontController</servlet-name>
    <servlet-class>com.itwillbs.admin.order.action.AdminOrderFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderFrontController</servlet-name>
    <url-pattern>*.ao</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>